body {
  font-family: "Georgia", serif;
  background-color: #f9f1e7;
  color: #3d2b1f;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  background-color: #000;
  border-bottom: 5px solid #333;
}

.site-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 1.1em;
  color: #ccc;
}

.site-logo img {
  filter: invert(100%); /* Untuk logo Apple putih */
  width: 40px;
}

.promo-link {
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
}

.hero.container {
  display: flex;
  max-width: 100%;
  padding: 20px;
  gap: 40px;
  align-items: center;
}

.text-content {
  flex: 1;
}

.text-content h1 {
  font-size: 48px;
  margin: 0 0 20px 0;
  line-height: 1.2;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
}

.video-content {
  flex: 1;
}

.video-content video {
  width: 100%;
  height: 50vh;
  border-radius: 8px;
  object-fit: cover;
}

/* Media Query for Tablet (max-width: 768px) */
@media (max-width: 768px) {
  .text-content h1 {
    font-size: 32px;
  }

  .text-content p {
    font-size: 16px;
  }

  .video-content video {
    width: auto; /* full lebar container */
    height: 40vh; /* tinggi otomatis mengikuti rasio asli video */
  }
}
